.table-my-primary {
  --bs-table-color: #fff;
  --bs-table-bg: #0d6efd;
  --bs-table-border-color: #0d6efd;
  --bs-table-striped-bg: #0d6efd;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #0d6efd;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #0d6efd;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.search-my-primary{
  background-color: #0d6efd;
  
}