<div class="container" *ngIf="userIsAuthenticated && userId !== ''">
  <!-- IS LOADING COMPONENT -->
  <div class="d-flex justify-content-center d-print-none" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row" *ngFor="let data of contentGroupList">
    <h3 class="text-center text-primary my-3">{{ data._id }}</h3>
    <!-- <hr> -->
    <div class="mx-auto my-2 table-responsive" *ngIf="data.contents.length > 0">
      <table class="table table-hover">
        <thead>
          <tr class="table-my-primary">
            <th scope="col">S.No#</th>
            <th scope="col">Japanese</th>
            <th scope="col">English Meaning</th>
            <th scope="col">English Pronunciation</th>
            <th scope="col">Tamil Meaning</th>
            <th scope="col">Tamil Pronunciation</th>
            <!-- <th scope="col">Lesson Name</th>
          <th scope="col" class="d-print-none"></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of data.contents; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <th scope="row">{{ content.japanese }}</th>
            <th scope="row">{{ content.eMeaning }}</th>
            <td>{{ content.ePronunciation }}</td>
            <td>{{ content.tMeaning }}</td>
            <td>{{ content.tPronunciation }}</td>
            <!-- <td>content.lessonName</td>
          <td class="d-print-none">button</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- NO MEMBERS -->
  <br />
  <br />
  <br />
  <br />
  <p class="text-center" *ngIf="contentGroupList.length <= 0">
    <strong>No Data Available</strong>
  </p>
</div>
